body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-size: 5rem;
    animation: epil 0.1s linear infinite;
}

@keyframes epil {
    0% {
        background-color: white;
        color: black;
    }
    50% {
        background-color: black;
        color: white;
    }
    100% {
        background-color: white;
        color: black;
    }
}